<nav class="bottom-nav">
    <a href="/products"><i class="fas fa-house"></i>Home</a>
    <a href="/cart"><i class="fas fa-cart-shopping"></i>Cart</a>
    <a href="/favourites"><i class="fas fa-heart"></i>Fav</a>
    <a href="/profile"><i class="fas fa-user"></i>You</a>
  </nav>